# Build tools
.tscache
src/.baseDir.ts
node_modules
nuget*.exe
typings

# Output
dist
src/**/*.js
tools
*.nupkg

# Integration tests
test/end-to-end/TestSolution/TestProject/bin
test/end-to-end/TestSolution/TestProject/obj
test/end-to-end/TestSolution/TestProject/.vs